<div class="row">
    <div class="col-sm-12">
        <h3>{{lessonType}}</h3>
    </div>

    <audio autoplay>
       <source src="audio/work.wav" type="audio/mpeg">
       Your browser does not support the audio tag.
    </audio>

    <div class="col-sm-12">
        <a class="btn btn-primary" ng-click="playAudio()">Play</a>
        <a class="btn btn-primary" ng-click="getRandomImages()">Next</a>
    </div>
    
    <div class="col-sm-12">
        <div class="flex-container">
            <div
                class="panel"
                ng-repeat="word in randomWords track by $index"
                ng-click="selectAnswer($index)"
                ng-class="panels[$index]"
            >
                <img ng-src="img/{{randomWords[$index]}}.jpg">
            </div>
        </div>
    </div>
</div>